# Rust
override-hub-rs/target/
override-hub-rs/**/*.rs.bk

# macOS
.DS_Store
override-hub-app/*.o
override-hub-app/elevate.c
override-hub-app/AppIcon.icns
override-hub-app/AppIcon.iconset/
override-hub-app/build-aux/

# Binaries
override-hub-app/HagibisMapping
override-hub-app/HagibisMapping.app
override-hub-app/*.dmg
override-hub-app/_CodeSignature/
override-hub-app/dmg-staging/

# Logs
*.log
__pycache__/
